/*
  Theme Name: Vlava
  Theme URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
  Author: BootstrapMade.com
  Author URL: https://bootstrapmade.com
*/

/* === icon component === */
@import url('icon-component.css');
/* === fontawesome === */
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('animate.css');
/*==========================================================================
  General
  ========================================================================== */
body {
	color:#777;
	background: #f7f7f7;
	line-height: 1.6em;
}

.clear {
	clear: both;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif, Arial;
}
h1, h2, h3, h4, h5, h6 {
	color:#222;
}

h1,h2,h3,h4,h5,h6 {
	font-style: normal;
	margin: 0 0 20px 0;
}
h1 { font-size: 40px; line-height: 30px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
.txt-light { font-weight: 300; }
.txt-regular { font-weight: 400; }
.txt-bold { font-weight: 700; }
.txt-uppercase { text-transform: uppercase; }

blockquote.bigquote {
	border: none;
	font-size: 48px;
	letter-spacing: -1px;
	font-weight: 700;
	line-height: 1em;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}


small {
	font-size: 70%;
	font-weight: 100;
}

a:hover {
	text-decoration: none;
}

:focus {
	outline: none;
}

.color-white.txt-shadow {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.t-uppercase {
	text-transform: uppercase;
}

/*==========================================================================
  Misc & Adjust
 ========================================================================== */
.row {
	z-index: 9999;
}

.big {
	font-size: 20pt;
	font-weight: 300;
}


.blink:hover {
	opacity: 0.9;
}

.half-offset {
	margin-bottom: 75px !important;
}

.no-offset {
	margin: 0 !important;
	padding: 0;
}

.content,.container {
	overflow: hidden;
}

.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block}
.show{display:block!important}
.dropdown-menu{left:auto}[data-toggle=buttons]>.btn input[type=checkbox],[data-toggle=buttons]>.btn input[type=radio],[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],[data-toggle=buttons]>.btn-group>.btn input[type=radio]{position:absolute;clip:rect(0,0,0,0);pointer-events:none}.input-group{position:relative;display:table;border-collapse:separate}.input-group[class*=col-]{float:none;padding-right:0;padding-left:0}.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0}
.nav-tabs{border-bottom:1px solid #ddd}.nav-tabs>li{float:left;margin-bottom:-1px}.nav-tabs>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:4px 4px 0 0}.nav-tabs>li>a:hover{border-color:#eee #eee #ddd}.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:#555;cursor:default;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent}.nav-tabs.nav-justified{width:100%;border-bottom:0}.nav-tabs.nav-justified>li{float:none}.nav-tabs.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-tabs.nav-justified>li{display:table-cell;width:1%}.nav-tabs.nav-justified>li>a{margin-bottom:0}}.nav-tabs.nav-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabs.nav-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border-bottom-color:#fff}}.nav-pills>li{float:left}.nav-pills>li>a{border-radius:4px}.nav-pills>li+li{margin-left:2px}.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#337ab7}.nav-stacked>li{float:none}.nav-stacked>li+li{margin-top:2px;margin-left:0}.nav-justified{width:100%}.nav-justified>li{float:none}.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-justified>li{display:table-cell;width:1%}.nav-justified>li>a{margin-bottom:0}}.nav-tabs-justified{border-bottom:0}.nav-tabs-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border-bottom-color:#fff}}.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
.trans {
	border: 0 !important;
	background: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.nobg {
	background: 0;
	border: 0;
}

.noborder {
	border: 0 !important;
}

.color-white {
	color: #fff;
}

.theme-bg {
	background-color: #ff7701 !important;
}

.normalize-font-top {
	padding-top: 25px;
}



/* --- float --- */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* --- align --- */
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}

/* ---- padding ---- */
/* top */
.pad-top0 {
	padding-top: 0;
}
.pad-top5 {
	padding-top: 5px;
}

.pad-top10 {
	padding-top: 10px;
}

.pad-top15 {
	padding-top: 15px;
}
.pad-top20 {
	padding-top: 20px;
}
.pad-top25 {
	padding-top: 25px;
}
.pad-top30 {
	padding-top: 30px;
}
.pad-top35 {
	padding-top: 35px;
}
.pad-top40 {
	padding-top: 40px;
}
/* bottom */
.pad-bot0 {
	padding-bottom: 0;
}
.pad-bot5 {
	padding-bottom: 5px;
}

.pad-bot10 {
	padding-bottom: 10px;
}

.pad-bot15 {
	padding-bottom: 15px;
}
.pad-bot20 {
	padding-bottom: 20px;
}
.pad-bot25 {
	padding-bottom: 25px;
}
.pad-bot30 {
	padding-bottom: 30px;
}
.pad-bot35 {
	padding-bottom: 35px;
}
.pad-bot40 {
	padding-bottom: 40px;
}


/* ---- margin --- */
.mar-left5 { margin-left: 5px; }
.mar-left10 { margin-left: 10px; }
.mar-left15 { margin-left: 15px; }
.mar-left20 { margin-left: 20px; }
.mar-left25 { margin-left: 25px; }
.mar-left30 { margin-left: 30px; }

.mar-right5 { margin-right: 5px; }
.mar-right10 { margin-right: 10px; }
.mar-right15 { margin-right: 15px; }
.mar-right20 { margin-right: 20px; }
.mar-right25 { margin-right: 25px; }
.mar-right30 { margin-right: 30px; }

/* top */
.mar-top0 {
	margin-top: 0;
}
.mar-top5 {
	margin-top: 5px;
}

.mar-top10 {
	margin-top: 10px;
}

.mar-top15 {
	margin-top: 15px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top25 {
	margin-top: 25px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-top35 {
	margin-top: 35px;
}
.mar-top40 {
	margin-top: 40px;
}


/* bottom */
.mar-bot0 {
	margin-bottom: 0;
}
.mar-bot5 {
	margin-bottom: 5px;
}

.mar-bot10 {
	margin-bottom: 10px;
}

.mar-bot15 {
	margin-bottom: 15px;
}
.mar-bot20 {
	margin-bottom: 20px;
}
.mar-bot25 {
	margin-bottom: 25px;
}
.mar-bot30 {
	margin-bottom: 30px;
}
.mar-bot35 {
	margin-bottom: 35px;
}
.mar-bot40 {
	margin-bottom: 40px;
}


/*===========================
  --- Sections ----
=========================== */

section.section {
	margin:0;
	padding: 80px 0 60px 0;
}

.bg-white {
	background-color: #fff;
}

/* --- section heading --- */
.section-header {
	text-align: center;
}
.section-header h2.section-heading {
	text-transform: uppercase;
	font-weight: 700;
}

/* ==========================
 --- Parallax ---
============================= */

#parallax1{
	background-image: url(../img/parallax/img1.jpg);
}

#testimonials{
	background-image: url(../img/parallax/img3.jpg);
}
/*===========================
  --- Header & menu ----
=========================== */
.navbar {
	line-height: 100px;
	height: 100px;
	background-color: rgba(0,0,0,0.3);
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 0;
	padding-bottom:0;
}

.navbar .navbar-collapse {
	margin-bottom: 0;
	padding-bottom:0;
}

.nav li {
	height: 100%;
	line-height: 100%;
	margin-bottom: 0;
	padding-bottom:0;
}

.nav>li>a {
	display: table-cell;
	height: 100%;
	line-height: 8px;
	vertical-align: middle;
	color: #fff;
	font-size: 14px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.nav>li>a:hover {
	color: #fff;
	background: none;
}

.navbar-nav {
	float: right;
	margin-bottom: 0;
	padding-bottom:0;
}

.navbar .navbar-nav > .active > a {
	color: #fff;
}
.navbar .navbar-nav > .active > a {
	padding-bottom: 22px;
}

.navbar-logo {
	/*display: flex;*/
  flex-direction: column;
  align-items: center;
}

.navbar-toggle {
	padding: 0;
	margin: 0;
	width: 80px;
}

.navbar-collapse.in {
	margin-top: -5px !important;
}

/*===========================
  --- Intro ----
=========================== */

#intro {
  width: 100%;
  height: 200%;
  /*position: relative;*/
  background: url(../img/intro-background.jpg) top center;
  background-size: cover;
}

@media (min-width: 1024px) {
	#intro {
		background-attachment: fixed;
	}
}

.intro-content {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: column;
  /*text-align: center;*/
	padding: 0 0px;
}

.intro-content  h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}

.intro-content  h3 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 500;
}

@media (max-width: 767px) {
	#intro {
		height: 100vh;
	}
	.intro-content  h2 {
		font-size: 34px;
	}
}

.btn-get-started {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
	background: #85b0be;
}

.btn-get-started:hover {
	color: #fff;
	background: #699aaa;
}

/*===========================
  --- Flex Slider ----
=========================== */

section.featured {
	background: #eee;
}

 /* inner heading */
section.featured.inner {
	background: #eee;
	padding: 150px 0 50px;
}


/* --- Flexslider --- */
.flexslider {
	margin: 0;
	background: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.flex-control-paging li a {
	width: 8px;
	height: 8px;
}

.flex-control-paging li a.flex-active {
	background: #fff;
}

.flex-control-nav {
	bottom: -25px;
}

.flexslider .slides img {
	width: auto;
	display: inline;
}

.flex-direction-nav a {
	display: block;
	width: 50px;
	height: 98px;
	margin: -29px -20px 0;
	position: absolute;
	top: 30%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.flex-direction-nav .flex-next {
	right: -70px;
	background: url(../img/arrow_large_right.png) no-repeat top left;
}

.flex-direction-nav .flex-prev {
	left: -70px;
	background: url(../img/arrow_large_left.png) no-repeat top left;
}

.flex-direction-nav a.flex-next:before {
	content: none !important;
}

/* removing default arrows */
.flex-direction-nav a:before {
	content: none !important;
}

/*==========================
About
=========================== */

.member-photo {
	box-sizing:border-box;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;
	margin: 0 0 20px 0;
}
.member-photo img {
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;
}

.team-detail h4 {
	font-weight: 700;
}


/*===========================
  Portfolio
============================ */
nav#filter a {
	background-color: #EEE;
	color:#555;
}
nav#filter a:hover, nav#filter a.current {
	background-color: #44BCDD;
	color:#fff;
}

/* ------- */

.isotopeWrapper article{
    margin-bottom: 30px;
}

#portfolio img  {
	width:100%;
}

#portfolio article p {
	margin-bottom:1.45em;/*set next row on the baseline*/
}
nav#filter {
	margin-bottom:1.5em;
}

nav#filter li {
	display:inline-block;
	margin:0 0 0 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
}


.portfolio-items article img {width:100%;}

.portfolio-item {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.portfolio-item img {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;

}
.portfolio-item .portfolio-desc {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
	left: 0;
	top: 0;
	color: rgba(220, 220, 220);
	z-index:10;
}


.portfolio-item:hover .portfolio-desc {
	padding-top: 20%;
	height: 100%;
    transition: all 200ms ease-in-out 0s;
	opacity: 1;
}

.portfolio-item .portfolio-desc a {
	color: #fff;
}
.portfolio-item .portfolio-desc a:hover {
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
	text-decoration: none;
}
.portfolio-item .portfolio-desc .folio-info {
	top:-20px;
	padding: 30px;
	height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info{
	height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
	top:5px;
}



.portfolio-item .portfolio-desc .folio-info h5 {
	text-transform: uppercase;
}
.portfolio-item .portfolio-desc .folio-info p {
	color: #ffffff;
	font-size: 12px;
}


/*===========================
  --- Testimonial ----
=========================== */
#testimonals {
	padding-top: 20px;
	padding-bottom:40px;
	position:relative;
	margin-top:50px;
}
.testimonial i {
	color: #fff;
}
.testimonial span.author {
	color: #fff;
}

.testimonial h5 {
	color: #fff;
	font-size: 18px;
	font-family: Georgia, sans-serif;
	line-height: 1.5em;
}

/*===========================
  --- Contact ----
=========================== */


#contact-form {
	position: relative;
	z-index: 999;
}

#contact-form input[type=text], .contactForm textarea {
	width: 100%;
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	border: 0;
	font-size:14px;
	text-align: left;
	vertical-align: middle;
	padding:0 10px;
}
#contact-form input[type=text]:focus, .contactForm textarea:focus {
	background: rgba(101, 106, 100, 1);
	color: #eff1ef;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#contact-form input[type=text] {
	height: 60px;
	margin-bottom:30px;
}
#contact-form input[type=submit] {
	color: #fff;
	width: 185px;
	height: 60px;
	text-shadow: none;
	font-size: 14px;
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0 0 20px 0;
	display: block;
	border: 0;
	text-transform: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#contact-form input[type=submit]:hover, #contact-form input[type=submit]:active {
	background: #43413e !important;
}
#contact-form textarea {
	padding-top: 1em;
}
div.cform-response-output {
	max-width: 60%;
	text-align: center;
	margin-left: 40% !important;
	margin-top: 0.5em !important;
	padding: 0.5em !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.cform-not-valid-tip {
	color: #888;
	border: 1px dotted #ad3729 !important;
	width: 100% !important;
	left: 0 !important;
	padding: 0.5em !important;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.send-btn input {
	margin: 0 auto 20px auto !important;
}



.validation {
  color: red;
  display:none;
  margin: 0 0 20px;
  font-weight:400;
  font-size:13px;
}

#sendmessage {
  color: green;
  border:1px solid green;
  display:none;
  text-align:center;
  padding:15px;
  font-weight:600;
  margin-bottom:15px;
}

#errormessage {
  color: red;
  display:none;
  border:1px solid red;
  text-align:center;
  padding:15px;
  font-weight:600;
  margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

/* google map */
#google-map {
  height: 315px;
}

/*====================
  Clients
==================== */
#clients img {
	opacity: 0.7;
}

#clients img:hover {
	opacity: 1;
}


/*=========================
  Footer
 ================= */

section#footer {
	background-color:rgba(5, 42, 62, 1);
	margin: 0;
	color: #fff;
}

section#footer .copyright {
	text-align: center;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

/* footer menu */
ul.footer-menu {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.footer-menu li {
	display: inline;
	margin: 0 5px;
}

a.scrollup{
	height:32px;
	width:32px;
	color:#fff;
	font-size:18px;
	line-height:32px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:9999;
	opacity:0.5;
}
a.scrollup:hover{
	opacity:1;
	color:#fff;
}

.credits {
	text-align: center;
}
/*===========================
  --- Template Components ----
=========================== */

/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/* stats */
.stats .icon {
	margin: 0 0 20px 0;
}

.stats strong.number {
	font-size: 38px;
}

.stats span.text {
	font-weight: 700;
	font-size: 24px;
}

/* buttons */
.btn {
	border: 0;
}

.btn.bold {
	font-weight: 600;
}

.btn-cta {
	color: #ffffff;
	border-bottom: 4px solid;
}
.btn-cta:hover {
	color: #ffffff;
}

.btn-cta {
	border-bottom: 2px solid;
}
.btn-cta.btn-lg {
	border-bottom: 4px solid;
}



/* ========================================
Media queries
========================================= */
@media (min-width: 959px) and (max-width: 1199px) {
	.navbar-nav {
		margin-top: 20px;
	}
}

@media only screen and (min-device-width : 979px) and (max-device-width : 1024px)  {

	.navbar-nav {
		margin-top: 20px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 959px) {

	.navbar-nav {
		margin-top: 20px;
	}
}
@media (max-width: 767px) {

	.navbar.navbar-fixed-top {
		background-color:rgba(0,0,0,1);
	}
	.navbar .navbar-collapse ul.nav {
		background-color: #444;
		width: 100%;
		float: none;
		margin:0;
		padding:0;
	}
	.navbar .navbar-collapse ul.nav li {
		border-bottom: 1px solid #666;
	}
	section.featured {
		padding-top: 80px;
	}

	.team-member,.col-lg-4 {
		margin-bottom: 30px;
	}

	.stats .col-md-3 {
		margin-bottom: 30px;
	}
}
/*body {
    overflow-y: scroll;
  
}*/
html{overflow-y: hidden;}
html{overflow-x: hidden;}

@import "compass/css3";

// Emmet article generation line : .col-xs-12.article-wrapper*5>article>a.more[href=#]>{more}^+.img-wrapper>img[src=http://lorempixel.com/150/150/nature]^+h1>Lorem3^+p>Lorem15

@import url(https://fonts.googleapis.com/css?family=Pacifico);
$size:110px;
$bg:#CDE;

body{
  padding:0 50px 50px;
  background-color: $bg !important;
}

article{
  position:relative;
  padding-left:$size + 20;
  padding-right: $size/2;
  height: $size;
  margin-bottom: 30px;
  background-color: #FFF;
  border-radius: ($size);
  cursor:pointer;
  
  .img-wrapper{
    position: absolute;
    top:- 10px;
    left:-5px;
    @include border-radius(100px);
    background-color: $bg;
    padding:5px;
    z-index: 1000;
    @include transition(all .2s);
    
    img{
      @include border-radius(100px);
      @include transition(all .2s);
      width: $size;
    }
  }
  
  h1{
    height: $size/2;
    line-height: $size/2;
    font-size: 12px;
    border-bottom: 3px solid $bg;
    color: #428bca;
    @include transition(all .4s);
  }
  p{
    color: #888;
  }
  a{
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    height: 100%;
    line-height: $size;
    text-align: center;
    width: 100%;
    background-color: #FFF;
    font-size: 48px;
    font-style:italic;
    opacity:0;
    color: #428bca !important;
    @include transition(all .4s);
    text-decoration: none !important;
    @include border-radius($size);
    font-family: "Pacifico";
    @include text-shadow(0 1px 1px #AAA);
  }
   &:hover{
    .img-wrapper{
      padding:5px;
      @include transform(rotate(5deg));
      img{
        width: $size + 10;
      }
    }
    a{
      opacity:1;
    }
  }
}

/*TAMBAHAN*/
.column {
	float: left;
	width: 33%;
	padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
	padding: 30%;
	text-align: center;
	background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

.dropClass {
	visibility: hidden;
	opacity: 0;
	transition:
	all .5s ease;
	background-color: transparent;
	min-width: 160px;
	overflow: auto;
	z-index: 1;
	height: 0;
}
.dropClass a {
	color: black;
	padding: 12px 16px;
	display: block;
}
.dropClass a:hover {background-color: rgba(255,255,255,.1);}
.show {
	visibility: visible;
	opacity: 1;
	height: 200%;
	/*padding: 0.5rem 1rem;*/
	background-color: rgba(255,255,255,.3);
	/*margin-bottom: 1.5%;*/
	border-radius: 3%;
}
.putar {
	transform: rotate(90deg);
	transition: all .5s ease;
}
.brand-image {
	line-height: .8;
	max-height: 53px;
	width: auto;
	margin-left: 0.7rem;
	margin-right: .5rem;
	margin-top: -3px;
	float: none;
	opacity: .9;
}
.backgroundImg {
	width: auto;
	height: 100%;
	opacity: 1;
	position: absolute;
}
.backgroundImg2 {
	position: fixed;
	width: 100%;
	max-height: 56px;
	margin-left: -2%;
	opacity: 1;
}
.nav-item:hover {
	background-color: rgba(255,255,255,.3);
	border-radius: 5%;
	transition: all .2s ease;
}
.berisik {
	min-height:500px !important
}
.tesDiv {
	z-index: -1;
	opacity: .4;
	background: url(./dist/img/tesblek.png) center center
}
.tesDiv .bekgron{
	z-index: 1;
	opacity: 1
}
#bungkus {
	background: url(./dist/img/darkwall6.jpg) center center;
}
.garismerah {
	background-color: #800000;
	height: 3px;
	width: 100%;
	position: center;
	bottom: 0;
	left: 0;
}
.teksboks {
	width: 85%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.teksne{
	margin:auto;
	position: absolute;
}
.boksHead {
	font-size: 30px;
	padding: 10px;
	font-weight: 500;
	border-radius: 0;
	background-color: rgba(255, 255, 255, .2);
	color: #96b28a;
	font-weight: bold;
	box-shadow: none;
	margin-bottom:0 !important;
}
.boksBody {
	height: 107px;
	border-radius: 0;
	background-color: rgba(255, 255, 255, .2);
	box-shadow: none;
}
.inner {
	padding:0 !important;
}
.card.chartcard {
	background-color:transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}
table {
	font-size: 14px;
	background-color: rgba(1, 14, 23,.9)!important;
	color:lightgrey;
}
tr > td:hover {
	background-color: rgba(1, 14, 23,.9)!important;
	color:lightgrey;
}

.table td, .table th {
	border: 1px solid #ddd;
}

thead {
	background-color: rgba(1, 14, 23,.9)!important;
	color:lightgrey;
}
.kepanjangan {
	font-size: 10px;
}
.kepanjangantot {
	font-size: 12px;
}
.page-link {
	color: #fff;
	background-color: #262c2e;
}

.social-part .fa{
	padding-right:20px;
}
ul li a{
	margin-right: 20px;
}

.bg-light {
	color:#fff;
	background-image:linear-gradient(to right, #1c1f20, #2d3436, #2d3436, #2d3436);
} 

.bg-light, .bg-light a {
	color: #fff!important;
}

.dropdown-menu {
	background-color: #262c2e;
	color: #0F2027;
}

.active1 {
	background-color: #6c7173; !important;
	color: #343a40 !important;
	font-weight: 600;
}

.item:hover {
	background-color: #0F2027;
}

.invisible {
	visibility: hidden;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #6c7173;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s; 
	border-radius: 5px; /* 5px rounded corners */
}

.card:hover {
	box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
} 

.ag-header-cell-label {
	float: none !important;
	width: auto !important;
	justify-content: left;
}

.ag-fresh .ag-header-cell-menu-button{
	position: absolute;
	float: none;
}

.container {
	max-width: 100%; !important;
}

#my{
	zoom: 100%;
}

.previous {
	background-color: #f1f1f1;
	color: black;
}

.next {
	background-color: #800000;
	color: white;
}

.round {
	border-radius: 50%;
}

.select-css {
	font-size: 14px;
	font-family: sans-serif;
	font-weight: 600;
	color: #444;
	line-height: 1;
	padding: .5em 1.4em .4em .8em;
	width: 140px;
	height: 30px;
	max-width: 100%; 
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	margin-top: 5px;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}
.select-css option {
	font-weight:normal;
}